{
  "insecure-registries" : [
  {% for registry in docker_insecure_registries %}
      "{{ registry.domain }}"{{ "," if not loop.last else "" }}
  {% endfor -%}
  ],
  {# https://docs.docker.com/build/cache/garbage-collection/ -#}
  "builder": {
    "gc": {
      "defaultKeepStorage": "{{ docker_gc_default_keep_storage }}",
      "enabled": true
    }
  }
}
