# Clone a Machine using proxmox and run a setup script on it.
# Author Robert Munnoch
# # Set secrets via environment variables
# export TF_VAR_username=(the username)
# export TF_VAR_password=(the password)
# export PM_USER="root@pam"
# export PM_PASS="password"

terraform {
  required_providers {
    proxmox = {
      source = "telmate/proxmox"
      version = "~> 2.7.4"
    }
  }
}

# variable "username" {
#   description = "The username for the proxmox master user"
#   type        = string
# }
# variable "password" {
#   description = "The password for the proxmox master user"
#   type        = string
#   sensitive = true
# }

provider "proxmox" {
  # Configuration options
  pm_api_url = "https://proxmox.example.com:8006/api2/json"
  pm_tls_insecure = true
#   pm_user = "root@pam"
  #pm_user = var.username
  pm_user = "{{ auth.username }}"
#   pm_password = "password"
  #pm_password = var.password
  pm_password = "{{ auth.password }}"
  # Logging setup
  pm_log_enable = true
  pm_log_file = "terraform-plugin-proxmox.log"
  pm_log_levels = {
    _default = "debug"
    _capturelog = ""
  }
}

{% for vm in molecule_yml.platforms %}
output "vm_{{vm.vm_name}}_ip" {
  value = proxmox_vm_qemu.{{vm.vm_name}}.ssh_host
  //sensitive = true
}

output "vm_{{vm.vm_name}}_name" {
  value = proxmox_vm_qemu.{{vm.vm_name}}.name
  //sensitive = true
}

output "vm_{{vm.vm_name}}_username" {
  value = proxmox_vm_qemu.{{vm.vm_name}}.ssh_user
  //sensitive = true
}

resource "proxmox_vm_qemu" "{{ vm.vm_name }}" {
  vmid = "{{ vm.vm_id }}"
  name = "{{ vm.vm_name }}"
  target_node = "bb0"
  # iso = "ISO file name"
  # or 
  clone = "{{ vm.image_name }}"

  cores = 2
  sockets = 1
  memory = 2560
  # Qemu agent enabled
  agent = 1

  cpu = "host"
  # user_data       = "#!/bin/sh\necho \"hello world\""
  os_type = "cloud-init"
  cipassword = "password"
  ssh_user = "ubuntu"
  ssh_private_key = <<-EOF
  ${file("~/.ssh/id_rsa")}
  EOF
  sshkeys = <<-EOF
  ${file("~/.ssh/id_rsa.pub")}
  EOF

  # ipconfig0 = "ip=192.168.2.129/24,gw=192.168.2.1"
  ipconfig0 = "ip=dhcp"

  disk {
    // This disk will become scsi0
    type = "scsi"
    storage = "local-lvm"
    //storage_type = lvm
    size = "50G"
    //<arguments ommitted for brevity...>
  }

  network {
    tag = 2002
    model = "virtio"
    bridge = "vmbr0"
  }

  connection {
    type = "ssh"
    user = "${self.ssh_user}"
    private_key = "${self.ssh_private_key}"
    host = "${self.ssh_host}"
    port = "${self.ssh_port}"
  }

  provisioner "remote-exec" {
    inline = [
      {% for line in init_config.split('\n') | list -%}
      "{{- line }}",
      {% endfor -%} 
    ]
  }
}

{% endfor %}
