# Inspired by:
# `curl -L -O https://raw.githubusercontent.com/elastic/beats/7.4/deploy/docker/filebeat.docker.yml`

filebeat.config:
  modules:
    path: ${path.config}/modules.d/*.yml
    reload.enabled: true

# enable for local docker discovery
# filebeat.autodiscover:
#   providers:
#     - type: docker
#       hints.enabled: true

# output.elasticsearch.index: "customname-%{[agent.version]}-%{+yyyy.MM.dd}"
# setup.template.name: "customname"
# setup.template.pattern: "customname-*"

processors:
  - add_cloud_metadata: ~

# monitoring:
#   enabled: true
#   elasticsearch:
#     # api_key: id:api_key
{% if elk_tls_enabled %}
#     hosts: ["https://esa:9200"]
{% else %}
#     hosts: ["http://esa:9200"]
{% endif %}
#     username: "{{ filebeat_username }}"
#     password: "{{ filebeat_password }}"

# output.elasticsearch:
{% if elk_tls_enabled %}
#   hosts: ["https://esa:9200"]
{% else %}
#   hosts: ["http://esa:9200"]
{% endif %}
#   username: "{{ filebeat_username }}"
#   password: "{{ filebeat_password }}"
{% if elk_tls_enabled %}
#   ssl.certificate_authorities: [ '/certs/ca/ca.crt' ]
{% endif %}

output.logstash:
  hosts: ["logstash:5044"]
{% if elk_tls_enabled %}
  ssl.certificate_authorities: ["/certs/ca/ca.crt"]
  ssl.certificate: "/certs/logstash_client/logstash_client.crt"
  ssl.key: "/certs/logstash_client/logstash_client.key"
{% endif %}

{% if filebeat_setup_enable | default(false) %}

setup.kibana:
{% if elk_tls_enabled %}
  hosts: ["https://esa:9200"]
  ssl.enabled: true
  ssl.certificate_authorities: ["/certs/ca/ca.crt"]
{% else %}
  hosts: ["http://esa:9200"]
{% endif %}
  username: "{{ filebeat_username }}"
  password: "{{ filebeat_password }}"

{% endif %}
