instances:
  - name: {{ ansible_hostname }}
    dns:
      - esa
      - esb
      - esc
      - localhost
      - {{ ansible_hostname }}
      - log.munnox.com
    ip:
      - 127.0.0.1
      - {{ hostip }}

  - name: logstash
    dns:
      - logstash
      - localhost
    ip:
      - 127.0.0.1

  - name: filebeat
    dns:
      - filebeat
      - localhost
    ip:
      - 127.0.0.1

  - name: logstash_client
    dns:
      - localhost
      - "*.home.lan"
    ip:
      - 127.0.0.1


  - name: kibana
    dns:
      - kibana 
      - localhost
    ip:
      - 127.0.0.1
      - {{ hostip }}
