{
    {% for line in user_script_lines -%}
    {%- set log = line | regex_search('PASSWORD (?P<user>\S*) = (?P<pass>\S*)', '\g<user>', '\g<pass>') -%}
    {% if log -%}
        {%- set logins = { "user": log.0, "pass": log.1, "line": line } -%}
        "{{ log.0 }}": {{ logins | to_json }},
    {% endif -%}
    {%- endfor %}
}