{{ elk_encryption_keys.stdout | from_yaml | to_nice_yaml }}

{
    {% for line in elk_encryption_keys.stdout_lines %}
    {% set map = line | regex_search('(?P<key>\S*): (?P<value>\S*)', '\g<key>', '\g<value>') %}
    {% if map %}
    {% set keys = { map.0: map.1 } %}
    {{ keys }}
    {% endif %}
    {% endfor %}
}