concurrent = 1
check_interval = 0
connection_max_age = "15m0s"
shutdown_timeout = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "{{ gitlab_runners[item].description }}"
  url = "{{ gitlab_protocol }}://{{ gitlab_fqdn }}"
  {# id = 13 #}
  token = "{{ gitlab_runners[item].token }}"
  
  {# token_obtained_at = 2024-06-30T17:02:36Z
  token_expires_at = 0001-01-01T00:00:00Z #}

  executor = "docker"
  [runners.custom_build_dir]
    {{ 'enabled = true' if ( gitlab_runners[item].custom_build_dir | default(false) ) else '' }}
  [runners.cache]
    MaxUploadedArchiveSize = 0
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.docker]
    tls_verify = false
    image = "{{ gitlab_runners[item].image_run }}"
    privileged = {{ gitlab_runners[item].docker_privileged | lower }}
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = {{ gitlab_runners[item].docker_volumes | to_json }}
    shm_size = 0
    network_mtu = 0