#cloud-config
hostname: {{ vm.vm.name }}
fqdn: {{ vm.vm.name }}.{{ vm.vm.domain }}
manage_etc_hosts: true
{% if vm.vm.guest_family == 'RedHat' %}
system_info:
  default_user:
    name: "{{ vm.vm.user }}"
    plain_text_passwd: "{{ vm.vm.password | default('password')}}"
    lock_passwd: false
    groups: ["wheel"]
{% endif %}
# {{ vm.vm.guest_family }}
{% if vm.vm.guest_family == 'Debian' %}
users:
  - name: {{ vm.vm.user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users{%- if vm.vm.guest_family=='Debian' -%}, admin
    {% endif %}{%- if vm.vm.guest_family=='RedHat' -%}, wheel
    {% endif -%}
    home: /home/{{ vm.vm.user }}
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - {{ vm.vm.ssh_key_pub }}
{% endif %}
# only cert auth via ssh (console access can still login)
# ssh_pwauth: false
# https://cloudinit.readthedocs.io/en/latest/topics/modules.html#set-passwords
chpasswd:
  users:
    - name: {{ vm.vm.user }}
      password: {{ vm.vm.password | default('password')}}
      type: text
  expire: False
# CA Root
# https://cloudinit.readthedocs.io/en/latest/topics/modules.html#ca-certificates
{% if ca_certs %}
ca_certs:
  remove_defaults: true
  trusted:
    - |
      {{ ca_certs }}
{% endif %}
packages:
  - qemu-guest-agent
# written to /var/log/cloud-init-output.log
final_message: "The system is finally up, after $UPTIME seconds"
