version: 2
ethernets:
  # enp1s0 - Default NIC on Ubuntu on libvirt
  # eth0 - Default NIC on Rocky
  {{ vm.vm.interface_name }}:
    {% if vm.vm.interface_type == 'bridge' -%}
    dhcp4: false
    dhcp6: false
    {% endif %}
    {% if vm.vm.interface_type == 'direct' %}
    # default libvirt network
    addresses: [ {{ vm.vm.addresses }} ]
    # gateway4: 192.168.2.1 # Depreciated in favor of the routes below
    routes:
      - to: default
        via: {{ vm.vm.gateway }}
    nameservers:
      addresses: [ {{ vm.vm.dns }} ]
      search: [ {{ vm.vm.domain }} ]
    {% endif %}

{% if vm.vm.interface_type == 'bridge' %}
bridges:
  bridgemain:
    interfaces: [ {{ vm.vm.interface_name }} ]
    parameters:
      forward-delay: 0
      stp: true
    addresses:
      - {{ vm.vm.addresses }}
    routes:
      - to: default
        via: {{ vm.vm.gateway }}
    nameservers:
      search: [ {{ vm.vm.domain }} ]
      addresses: [ {{ vm.vm.dns }} ]
{% endif %}