
<domain type='kvm'>
    <name>{{new_name}}</name>
    <memory unit='GB'>{{ new_memory_gib }}</memory>
    {# <currentMemory unit='GB'>{{ new_memory_gib }}</currentMemory> #}
    {# GB, MB, KiB #}
    <vcpu placement='static'>{{ new_cpus }}</vcpu>
    <resource>
        <partition>/machine</partition>
    </resource>
    <os>
        {#<type arch='x86_64' machine='pc-i440fx-focal'>hvm</type>#}
        <type>hvm</type>
        <boot dev='hd'/>
        <bootmenu enable="yes"/>
    </os>
    <features>
        <acpi/>
        <apic/>
        {#<vmport state='off'/>#}
    </features>
    {#
    <on_poweroff>destroy</on_poweroff>
    <on_reboot>restart</on_reboot>
    <on_crash>destroy</on_crash>
    #}
    <devices>
        {#<emulator>/usr/bin/qemu-system-x86_64</emulator>#}
        <disk type='file' device='disk'>
            <driver name='qemu' type='qcow2'/>
            <source file='{{ main_disk_path }}' index='1'/>
            {#
            <backingStore type='file' index='3'>
                <format type='qcow2'/>
                <source file='/home/robert/jammy-server-cloudimg-amd64.img'/>
                <backingStore/>
            </backingStore>
            #}
            <target dev='vda' bus='virtio'/>
            {#
            <alias name='virtio-disk0'/>
            <address type='pci' domain='0x0000' bus='0x03' slot='0x00' function='0x0'/>
            #}
        </disk>
        {#<disk type='file' device='disk'>
            <driver name='qemu' type='raw'/>
            <source file='{{ main_disk_path }}' index='1'/>
            <backingStore/>
            <target dev='hda' bus='ide'/>
            <alias name='ide0-0-0'/>
            <address type='drive' controller='0' bus='0' target='0' unit='0'/>
        </disk>#}
        <disk type='file' device='cdrom'>
            <driver name='qemu' type='raw'/>
            <source file='{{ seed_path }}' index='2'/>
            <backingStore/>
            <target dev='hda' bus='sata'/>
            <readonly/>
            <alias name='sata0-0-0'/>
            <address type='drive' controller='0' bus='0' target='0' unit='0'/>
        </disk>
        <interface type="bridge">
            <source bridge="bridge.2"/>
            <model type="virtio"/>
        </interface>
        {#
        <interface type='bridge'>
        <mac address='52:54:00:6f:a5:0c'/>
        <source bridge='bridge.2'/>
        <target dev='vnet2'/>
        <model type='virtio'/>
        <alias name='net0'/>
        <address type='pci' domain='0x0000' bus='0x01' slot='0x00' function='0x0'/>
        </interface>
        #}
        {#
        <input type="mouse" bus="ps2"/>
        <input type="keyboard" bus="ps2"/>
        <graphics type="spice" autoport="yes">
            <listen type="address"/>
            <image compression="off"/>
        </graphics>
        <graphics type="vnc" port="-1" autoport="yes">
            <listen type="address"/>
        </graphics>
        #}
        {#
        <video>
            <model type="qxl" ram="65536" vram="65536" vgamem="16384" heads="1" primary="yes"/>
            <address type="pci" domain="0x0000" bus="0x00" slot="0x02" function="0x0"/>
        </video>
        #}
        <console type='pty'>
            <target type='serial' port='0'/>
        </console>
    </devices>
</domain>