#jinja2: trim_blocks: "true", lstrip_blocks: "false"
Stopping:
    {# {{ stop_vm.keys() }} #}
    {% for vm in stop_vm.results %}
    {# {{ vm.keys() }} #}
    Name: {{ vm.vm.vm.name }}
        {% if not vm.skipped | default(false) %}
        Out: |
            {{ vm.stdout | indent(12) | default('skipped') }}
        Error: |
            {{ vm.stderr | indent(12) | default('skipped')}}
        {% else %}
        Skipped running command
        {% endif %}
        {# {{ vm | to_nice_yaml }} #}
    {% endfor %}

Removal:
    {# {{ remove_vm.keys() }} #}
    {% for vm in remove_vm.results-%}
    {# {{ vm.keys() }} #}
    Name: {{ vm.vm.vm.name }}
        {% if not vm.skipped | default(false) %}
        Out: |
            {{ vm.stdout | indent(12) | default('skipped') }}
        Error: |
            {{ vm.stderr | indent(12) | default('skipped')}}
        {% else %}
        Out: Skipped running command
        {% endif %}
        {# {{ vm | to_nice_yaml }} #}
    {% endfor %}

Define:
    {# {{ define_vm.keys() }} #}
    {% for vm in define_vm.results -%}
    {# {{ vm.keys() }} #}
    Name: {{ vm.vm.vm.name }}
        {% if not vm.skipped | default(false) %}
        Out: |
            {{ vm.stdout | indent(12) | default('skipped') }}
        Error: |
            {{ vm.stderr | indent(12) | default('skipped')}}
        {% else %}
        Out: Skipped running command
        {% endif -%}
        {# {{ vm | to_nice_yaml }} #}
    {% endfor %}

# Machine Definitions
machine_definitions:
{{ machine_definitions | to_nice_yaml(width=50) }}

# CMD's
{% for machine in machine_definitions %}
# {{ machine | to_yaml(width=50, default_flow_style=False) }}
{{ machine.vm.name }}: |
{{ machine.virsh_cmd | indent(2) }}
{% endfor %}