apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: {{ microk8s_addon_dashboard_app_name }}
  name: {{ microk8s_addon_dashboard_nodeport_external_port_name }}
  namespace: {{ microk8s_addon_dashboard_namespace }}
spec:
  ports:
    - port: 443
      targetPort: 8443
      nodePort: {{ microk8s_addon_dashboard_nodeport_external_port }}
  selector:
    k8s-app: {{ microk8s_addon_dashboard_app_name }}
  type: NodePort