apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: {{ microk8s_addon_dashboard_app_name }}
  name: {{ microk8s_addon_dashboard_service_name }}
  namespace: "{{ microk8s_addon_dashboard_namespace }}"
spec:
  ports:
    - port: 443
      targetPort: 8443
  selector:
    k8s-app: {{ microk8s_addon_dashboard_app_name }}
  type: ClusterIP