apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ microk8s_addon_dashboard_ingress_name }}"
  namespace: "{{ microk8s_addon_dashboard_namespace }}"
  annotations:
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#backend-protocol
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#custom-max-body-size
    nginx.ingress.kubernetes.io/proxy-body-size: 1000m
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#custom-timeouts
    nginx.ingress.kubernetes.io/proxy-send-timeout: "10"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "10"
spec:
  # tls:
  # - hosts:
  #     - "{{ microk8s_fqdn }}"
  #   secretName: secret-{{ microk8s_fqdn }}
  rules:
  - host: "{{ microk8s_fqdn }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "{{ microk8s_addon_dashboard_service_name }}"
            port:
              # must match service port
              number: 8443