---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ microk8s_addon_dashboard_admin_user_name }}
  namespace: {{ microk8s_addon_dashboard_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ microk8s_addon_dashboard_admin_user_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: {{ microk8s_addon_dashboard_admin_user_name }}
  namespace: {{ microk8s_addon_dashboard_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ microk8s_addon_dashboard_admin_user_secret_name }}
  namespace: {{ microk8s_addon_dashboard_namespace }}
  annotations:
    kubernetes.io/service-account.name: {{ microk8s_addon_dashboard_admin_user_name }}
type: kubernetes.io/service-account-token