# addresspool.yaml
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: "{{ microk8s_addon_metallb_name }}"
  namespace: "{{ microk8s_addon_metallb_namespace }}"
spec: 
  addresses: {{ microk8s_addon_metallb_addresses }}