# microk8s-config.yaml
---
version: 0.1.0
addons:
  - name: dns
  - name: rbac
  - name: ingress
  - name: storage
  - name: hostpath-storage
  {% if microk8s_addon_metallb_enable -%}
  - name: metallb
  {% endif -%}
  {% if microk8s_addon_dashboard_enable -%}
  - name: dashboard
  {% endif -%}
  {% if microk8s_addon_registry_enable -%}
  - name: registry
  {% endif -%}
  - name: observability
    disable: true

  # Community addons
  - name: community

{# # Further Reference: https://microk8s.io/docs/ref-launch-config #}

{#
# The extra arguments listed here are not required, as they would be set by the 'rbac' and the 'dns'
# addons respectively. However, we set them to save time by not having to restart the Kubernetes
# services a few times during cluster bootstrap.
# extraKubeAPIServerArgs:
#   --authorization-mode: RBAC,Node
# extraKubeletArgs:
#   --cluster-dns: 10.152.183.10
#   --cluster-domain: cluster.local
#}

# 'containerdRegistryConfigs' is used to configure registry mirrors. the key is the repository name (e.g. "docker.io")
# and the value will be written to the respective hosts.toml file
containerdRegistryConfigs:
  {#
  # # Use `http://my.proxy:5000` as a DockerHub registry mirror.
  # docker.io: |
  #   [host."http://my.proxy:5000"]
  #   capabilities = ["pull", "resolve"]
  #}
  # Use `http://my.proxy:5000` as a DockerHub registry mirror.
  local: |
    [host."http://localhost:32000"]
    capabilities = ["pull", "resolve"]