# /var/snap/microk8s/current/args/certs.d/{{ registry.domain }}/hosts.toml
server = "{{ registry.protocol | default('http') }}://{{ registry.domain }}"

[host."{{ registry.protocol | default('http') }}://{{ registry.domain }}"]
    capabilities = ["pull", "resolve"]
